{% extends 'base.html' %}

{% block title %}Add New Post{% endblock %}

{% block content %}
<form method="POST" class="pure-form pure-form-stacked">
  <legend>
    <h1>Add a post for {{user.get_fullname()}}</h1>
  </legend>
  <fieldset class="pure-group">

    <label>Title</label>
    <input type="text" name="title" class="pure-u-1 pure-u-md-2-3" placeholder="Title" required />

    <label>Content</label>
    <textarea rows="10" name="content" class="pure-u-1 pure-u-md-2-3" placeholder="Text here..."></textarea>
  </fieldset>


  <button type="submit" class="pure-button">Submit Post</button>
  <a class="btn-link pure-button cxl" href="/users/{{user.id}}">Cancel</a>
</form>
{% endblock %}